<html>
<head>
<title>fragment.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.ln { color: rgb(0,0,0); font-weight: normal; font-style: normal; }
.s0 { color: rgb(232,191,106); }
.s1 { color: rgb(186,186,186); }
.s2 { color: rgb(165,194,97); }
.s3 { color: rgb(169,183,198); }
</style>
</head>
<BODY BGCOLOR="#2b2b2b">
<TABLE CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#C0C0C0" >
<TR><TD><CENTER>
<FONT FACE="Arial, Helvetica" COLOR="#000000">
fragment.xml</FONT>
</center></TD></TR></TABLE>
<pre>

<span class="s0">&lt;?</span><span class="s1">xml version=</span><span class="s2">&quot;1.0&quot; </span><span class="s1">encoding=</span><span class="s2">&quot;utf-8&quot;</span><span class="s0">?&gt;</span><span class="s3"> 
</span><span class="s0">&lt;LinearLayout 
    </span><span class="s1">xmlns:android=</span><span class="s2">&quot;http://schemas.android.com/apk/res/android&quot;</span><span class="s0"> 
    </span><span class="s1">xmlns:tools=</span><span class="s2">&quot;http://schemas.android.com/tools&quot;</span><span class="s0"> 
    </span><span class="s1">xmlns:app=</span><span class="s2">&quot;http://schemas.android.com/apk/res-auto&quot;</span><span class="s0"> 
    </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
    </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
    </span><span class="s1">android:orientation=</span><span class="s2">&quot;vertical&quot;</span><span class="s0">&gt;</span><span class="s3"> 
 
    </span><span class="s0">&lt;android.support.v7.widget.Toolbar 
        </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/toolbar&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;?attr/actionBarSize&quot;</span><span class="s0"> 
        </span><span class="s1">android:background=</span><span class="s2">&quot;@android:color/white&quot; </span><span class="s0">/&gt;</span><span class="s3"> 
 
    </span><span class="s0">&lt;include </span><span class="s1">layout=</span><span class="s2">&quot;@layout/grid&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;0dp&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;3&quot;</span><span class="s0">/&gt;</span><span class="s3"> 
 
    </span><span class="s0">&lt;android.support.v7.widget.GridLayout 
        </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/detail_additional_pane&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;0dp&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;2&quot;</span><span class="s0"> 
        </span><span class="s1">app:columnCount=</span><span class="s2">&quot;2&quot;</span><span class="s0"> 
        </span><span class="s1">android:background=</span><span class="s2">&quot;@color/detail_accent_pane_background&quot;</span><span class="s0"> 
        </span><span class="s1">android:paddingBottom=</span><span class="s2">&quot;@dimen/abc_list_item_padding_horizontal_material&quot;</span><span class="s0"> 
        </span><span class="s1">android:paddingTop=</span><span class="s2">&quot;@dimen/abc_list_item_padding_horizontal_material&quot;</span><span class="s0"> 
        </span><span class="s1">android:paddingLeft=</span><span class="s2">&quot;@dimen/forecast_detail_horizontal_padding&quot;</span><span class="s0"> 
        </span><span class="s1">android:paddingStart=</span><span class="s2">&quot;@dimen/forecast_detail_horizontal_padding&quot;</span><span class="s0"> 
        </span><span class="s1">android:paddingRight=</span><span class="s2">&quot;@dimen/forecast_detail_horizontal_padding&quot;</span><span class="s0"> 
        </span><span class="s1">android:paddingEnd=</span><span class="s2">&quot;@dimen/forecast_detail_horizontal_padding&quot;</span><span class="s0">&gt;</span><span class="s3"> 
 
        </span><span class="s0">&lt;TextView 
            </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/detail_humidity_label_textview&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
            </span><span class="s1">android:fontFamily=</span><span class="s2">&quot;sans-serif&quot;</span><span class="s0"> 
            </span><span class="s1">android:gravity=</span><span class="s2">&quot;center_vertical&quot;</span><span class="s0"> 
            </span><span class="s1">android:text=</span><span class="s2">&quot;Humedad&quot;</span><span class="s0"> 
            </span><span class="s1">android:textAppearance=</span><span class="s2">&quot;@style/TextAppearance.AppCompat.Title&quot;</span><span class="s0"> 
            </span><span class="s1">android:textColor=</span><span class="s2">&quot;@color/detail_accent_label&quot;</span><span class="s0"> 
            </span><span class="s1">app:layout_columnWeight=</span><span class="s2">&quot;1&quot;</span><span class="s0"> 
            </span><span class="s1">app:layout_gravity=</span><span class="s2">&quot;fill&quot;</span><span class="s0"> 
            </span><span class="s1">app:layout_rowWeight=</span><span class="s2">&quot;1&quot; </span><span class="s0">/&gt;</span><span class="s3"> 
 
        </span><span class="s0">&lt;TextView 
            </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/detail_humidity_textview&quot;</span><span class="s0"> 
            </span><span class="s1">android:gravity=</span><span class="s2">&quot;center_vertical&quot;</span><span class="s0"> 
            </span><span class="s1">android:text=</span><span class="s2">&quot;38%&quot;</span><span class="s0"> 
            </span><span class="s1">android:textAppearance=</span><span class="s2">&quot;@style/TextAppearance.AppCompat.Headline&quot;</span><span class="s0"> 
            </span><span class="s1">android:textColor=</span><span class="s2">&quot;@android:color/white&quot;</span><span class="s0"> 
            </span><span class="s1">app:layout_gravity=</span><span class="s2">&quot;fill&quot;</span><span class="s0">/&gt;</span><span class="s3"> 
 
        </span><span class="s0">&lt;TextView 
            </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/detail_pressure_label_textview&quot;</span><span class="s0"> 
            </span><span class="s1">android:fontFamily=</span><span class="s2">&quot;sans-serif&quot;</span><span class="s0"> 
            </span><span class="s1">android:gravity=</span><span class="s2">&quot;center_vertical&quot;</span><span class="s0"> 
            </span><span class="s1">android:text=</span><span class="s2">&quot;Presion&quot;</span><span class="s0"> 
            </span><span class="s1">android:textAppearance=</span><span class="s2">&quot;@style/TextAppearance.AppCompat.Title&quot;</span><span class="s0"> 
            </span><span class="s1">android:textColor=</span><span class="s2">&quot;@color/detail_accent_label&quot;</span><span class="s0"> 
            </span><span class="s1">app:layout_gravity=</span><span class="s2">&quot;fill&quot;</span><span class="s0"> 
            </span><span class="s1">app:layout_rowWeight=</span><span class="s2">&quot;1&quot;</span><span class="s0">/&gt;</span><span class="s3"> 
 
        </span><span class="s0">&lt;TextView 
            </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/detail_pressure_textview&quot;</span><span class="s0"> 
            </span><span class="s1">android:gravity=</span><span class="s2">&quot;center_vertical&quot;</span><span class="s0"> 
            </span><span class="s1">android:text=</span><span class="s2">&quot;995 hPa&quot;</span><span class="s0"> 
            </span><span class="s1">android:textAppearance=</span><span class="s2">&quot;@style/TextAppearance.AppCompat.Headline&quot;</span><span class="s0"> 
            </span><span class="s1">android:textColor=</span><span class="s2">&quot;@android:color/white&quot;</span><span class="s0"> 
            </span><span class="s1">app:layout_gravity=</span><span class="s2">&quot;fill&quot;</span><span class="s0">/&gt;</span><span class="s3"> 
 
        </span><span class="s0">&lt;TextView 
            </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/detail_wind_label_textview&quot;</span><span class="s0"> 
            </span><span class="s1">android:fontFamily=</span><span class="s2">&quot;sans-serif&quot;</span><span class="s0"> 
            </span><span class="s1">android:gravity=</span><span class="s2">&quot;center_vertical&quot;</span><span class="s0"> 
            </span><span class="s1">android:text=</span><span class="s2">&quot;Viento&quot;</span><span class="s0"> 
            </span><span class="s1">android:textColor=</span><span class="s2">&quot;@color/detail_accent_label&quot;</span><span class="s0"> 
            </span><span class="s1">android:textSize=</span><span class="s2">&quot;20sp&quot;</span><span class="s0"> 
            </span><span class="s1">app:layout_gravity=</span><span class="s2">&quot;fill&quot;</span><span class="s0"> 
            </span><span class="s1">app:layout_rowWeight=</span><span class="s2">&quot;1&quot; </span><span class="s0">/&gt;</span><span class="s3"> 
 
 
        </span><span class="s0">&lt;TextView 
            </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/detail_wind_textview&quot;</span><span class="s0"> 
            </span><span class="s1">android:gravity=</span><span class="s2">&quot;center_vertical&quot;</span><span class="s0"> 
            </span><span class="s1">android:text=</span><span class="s2">&quot;4km/h NW&quot;</span><span class="s0"> 
            </span><span class="s1">android:textAppearance=</span><span class="s2">&quot;@style/TextAppearance.AppCompat.Headline&quot;</span><span class="s0"> 
            </span><span class="s1">android:textColor=</span><span class="s2">&quot;@android:color/white&quot;</span><span class="s0"> 
            </span><span class="s1">app:layout_gravity=</span><span class="s2">&quot;fill&quot; </span><span class="s0">/&gt;</span><span class="s3"> 
    </span><span class="s0">&lt;/android.support.v7.widget.GridLayout&gt;</span><span class="s3"> 
 
</span><span class="s0">&lt;/LinearLayout&gt;</span></pre>
</body>
</html>