<html>
<head>
<title>main.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.ln { color: rgb(0,0,0); font-weight: normal; font-style: normal; }
.s0 { color: rgb(232,191,106); }
.s1 { color: rgb(186,186,186); }
.s2 { color: rgb(165,194,97); }
.s3 { color: rgb(169,183,198); }
</style>
</head>
<BODY BGCOLOR="#2b2b2b">
<TABLE CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#C0C0C0" >
<TR><TD><CENTER>
<FONT FACE="Arial, Helvetica" COLOR="#000000">
main.xml</FONT>
</center></TD></TR></TABLE>
<pre>

<span class="s0">&lt;?</span><span class="s1">xml version=</span><span class="s2">&quot;1.0&quot; </span><span class="s1">encoding=</span><span class="s2">&quot;utf-8&quot;</span><span class="s0">?&gt;</span><span class="s3"> 
</span><span class="s0">&lt;LinearLayout 
    </span><span class="s1">xmlns:android=</span><span class="s2">&quot;http://schemas.android.com/apk/res/android&quot;</span><span class="s0"> 
    </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
    </span><span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
    </span><span class="s1">android:orientation=</span><span class="s2">&quot;vertical&quot;</span><span class="s0">&gt;</span><span class="s3"> 
 
    </span><span class="s0">&lt;android.support.v7.widget.Toolbar 
        </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/toolbar&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
        </span><span class="s1">android:theme=</span><span class="s2">&quot;@style/ThemeOverlay.AppCompat.Dark.ActionBar&quot;</span><span class="s0">&gt;</span><span class="s3"> 
        </span><span class="s0">&lt;ImageView 
            </span><span class="s1">android:layout_width=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_height=</span><span class="s2">&quot;?attr/listPreferredItemHeight&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_marginTop=</span><span class="s2">&quot;?attr/actionBarSize&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_gravity=</span><span class="s2">&quot;center_horizontal&quot;</span><span class="s0"> 
            </span><span class="s1">android:src=</span><span class="s2">&quot;@drawable/ic_logo&quot;</span><span class="s0"> 
            </span><span class="s1">android:scaleType=</span><span class="s2">&quot;center&quot;</span><span class="s0"> 
            </span><span class="s1">android:background=</span><span class="s2">&quot;@color/colorPrimary&quot;</span><span class="s0">/&gt;</span><span class="s3"> 
    </span><span class="s0">&lt;/android.support.v7.widget.Toolbar&gt;</span><span class="s3"> 
 
    </span><span class="s0">&lt;fragment </span><span class="s1">xmlns:android=</span><span class="s2">&quot;http://schemas.android.com/apk/res/android&quot;</span><span class="s0"> 
        </span><span class="s1">xmlns:tools=</span><span class="s2">&quot;http://schemas.android.com/tools&quot;</span><span class="s0"> 
        </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/fragment_forecast&quot;</span><span class="s0"> 
        </span><span class="s1">android:name=</span><span class="s2">&quot;es.rafaelsf80.domotik.app.FragmentOutdoors&quot;</span><span class="s0">
        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
        </span><span class="s1">tools:context=</span><span class="s2">&quot;com.example.android.sunshine.app.ForecastFragment&quot;</span><span class="s0"> 
        </span><span class="s1">tools:layout=</span><span class="s2">&quot;@android:layout/list_content&quot; </span><span class="s0">/&gt;</span><span class="s3"> 
</span><span class="s0">&lt;/LinearLayout&gt;</span></pre>
</body>
</html>