<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.rafaelsf80.domotik">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_home_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="es.rafaelsf80.domotik.app.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".app.WeatherDetailsActivity"
            android:label="@string/title_activity_detail"
            android:parentActivityName=".app.Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.rafaelsf80.domotik.app.WeatherDetailsActivity" />
        </activity>

        <activity android:name=".app.CameraDetailsActivity"
            android:label="@string/title_activity_detail"
            android:parentActivityName=".app.Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.rafaelsf80.domotik.app.CameraDetailsActivity" />
        </activity>

        <activity android:name=".app.NetworkingDetailsActivity"
            android:label="@string/title_activity_detail"
            android:parentActivityName=".app.Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.rafaelsf80.domotik.app.NetworkingDetailsActivity" />
        </activity>

        <!-- SyncAdapter's dummy authentication service -->
        <service android:name=".app.sync.DomotikAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <!-- The SyncAdapter service -->
        <service
            android:name=".app.sync.DomotikSyncService"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_myapp" />
        </service>

        <provider
            android:name=".app.weather.WeatherProvider"
            android:authorities="com.rafaelsf80.domotik.app.StubProvider"
            android:exported="false"
            android:syncable="true"/><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>

